.forgot-password {
    padding: 140px 0;
    text-align: center;
    background-color: #ecf2f6;  
}


.section-heading h3 {
    font-size: 32px;
}

.forgot-password .row {
    justify-content: center;
}

.forgot-password a {
    text-decoration: none;
}

.forgot-password .login-button {
    background-color: #5956e9;
     border: 1px solid #5956e9;
     border-radius: 4px;
     color: #fff !important;
     display: inline-block;
     font-size: 14px;
     font-weight: 500;
     padding: 10px 20px;
     text-decoration: none;
     text-transform: uppercase;
     transition: .3s;
     width: 100%;
     text-align: center;
     margin: 0;
}

.forgot-password .login-button:hover {
    background-color: transparent;
    border: 1px solid #5956e9;
    color: #5956e9 !important;

}
